@font-face{
    font-family: Brotopo;
    src: url('Brotopo\ .ttf');
}

.title{
    font-family: Brotopo;
    color: coral;
    font-size: 48px;
    text-align: center;
}

#container {
    background-color: antiquewhite;
    margin: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

#text-yelllow {
    color: yellow;

}